*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color .3s;
    color: inherit;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3rem;
}
.products{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.product-container{
    width: 25%;
}
.product-item{
    background-color: rgb(255, 255, 255);
    border-radius: 0.625rem;
    transition: 0.3s;
    overflow: hidden;
    margin-top: 1rem;
    box-shadow: 0 .125rem 0.25rem rgba(0,0,0,.075);
}
.product-item *{
    z-index: 2;
}
.text-product-content{
    font-size: 1rem;
    line-height: 1.5rem;
}
.title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.text-product-content :hover{
    color: #e69646;
    cursor: pointer;
}
.price{
    font-weight: 700;
    margin: 0.3125rem auto 0.625rem;
}
.btn-product-content{
    display: flex;
    justify-content: space-between;
    padding: 0.125rem;
    margin: 0.3125rem auto 0.625rem;
    border-radius: 0.3125rem;
    text-align: center;
    background-color: #464646;
}
.button-wrap{
    flex: 1 1;
    display: flex;
    justify-content: center;
    position: relative;
    color: #fefefe;
    overflow: hidden;
    border-radius: 0.3125rem;
    padding: 0.375rem 0;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}
.car{
    margin-left: 0.125rem;
    color: #111;
    background-color: #fefefe;
}
.buy:hover{
    background-color: #e69646;
}
.car:hover{
    background-color: #e69646;
    color: #fefefe;
}
.product-item:hover{
    transform: translateY(-1.5px);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
i{
    padding-right: 3px;
}