.orders-table {
  min-width: 37.5rem;
}
.order-row {
  display: flex;
  width: 100%;
  padding: 1rem 0.5rem;
  align-items: center;
}
.orders-header {
  padding-bottom: 0;
  font-weight: 700;
  font-size: 1.125rem;
  opacity: 0.7;
  user-select: none;
}
.order-cell {
  text-align: center;
}
.order-index {
  flex: 1 1;
}
.order-id {
  flex: 2 1;
}
.order-status {
  flex: 2 1;
}
.order-status1 {
  flex: 2 1;
  text-align : center;
  max-width: 4.5rem;
  background-color: #0d6efd;
  border-radius: 10px;
  color: #fefefe;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 1.2rem;
  max-height: 1.7rem;
}
.order-time {
  flex: 4 1;
  text-align: center;
  padding-left: 3.2rem;
}
.order-price {
  flex: 3 1;
}
.order-item{
  background-color: rgb(255,255,255);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.show-dashboard-btn{
  font-size: 2rem;
  opacity: 0;
}
 @media (max-width: 991px) {
  .show-dashboard-btn{
    opacity: 1;
  }
 }
 .shipping-info{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    border: 1px solid  #dfdfdf;
    background-color: #fff;
 }
 .shipping-info-body{
  display: flex;
  flex-direction: column;
  list-style: inside;
 }
 .info-item{
  display: flex;
  flex-direction: row;
 }
 .title{
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
 }
 .value{
  font-size: 1rem;
 }
 .info-total-summary{
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border: 1px solid  #dfdfdf;
  background-color: #fff;
 }
 .total-title {
  font-size: 1rem;
  font-weight: 600;
 }
 .total-value{
  color: #e69646;;
 }