/* .drak{
    --bg-color : rgb(24, 24, 24);
    --font-color : rgb(238, 238, 238);
}*/
 /* :root {
    --bg-color : rgb(246, 249, 252);
    --font-color : black
} 

.header{
    background-color: var(--bg-color);
} */